.phoneBook_ttl {
    border-bottom: solid 2px #ED711A;
    padding: 15px 15px 15px 15px; 
    .txt {
        font-size: 1.25rem;
        font-weight: 700;
    }
} 
.phoneBook_ctn {
    padding: 1px 20px;
}