.s_ttl01 {
    .is_orange {
        color: #ED711A;
    }
}
.a_backbtn01 {
    position: absolute;
    top: 10px;
    left: 23px;
    margin-top: 0!important;
    .a_backbtn01_link {
        position: relative;
        padding-left: 30px;
        text-decoration: none;
        color: #000;
        transition: transform 0.3s ease;
        &:before {
            content: "";
            position: absolute;
            background-image: url('data:image/svg+xml,<svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.292893 7.29289C-0.0976311 7.68342 -0.0976311 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292893 7.29289ZM1.5 7H1L1 9H1.5L1.5 7Z" fill="black"/><path d="M6.29289 7.29289C5.90237 7.68342 5.90237 8.31658 6.29289 8.70711L12.6569 15.0711C13.0474 15.4616 13.6805 15.4616 14.0711 15.0711C14.4616 14.6805 14.4616 14.0474 14.0711 13.6569L8.41421 8L14.0711 2.34315C14.4616 1.95262 14.4616 1.31946 14.0711 0.928932C13.6805 0.538408 13.0474 0.538408 12.6569 0.928932L6.29289 7.29289ZM7.5 7H7V9H7.5V7Z" fill="%23ED711A"/></svg>');
            width: 15px;
            height: 16px;
            left: 0;
            top: calc(50% - 8px);
            transition: transform 0.3s ease;
        }
        &:hover {
            &:before {
                transform: translateX(-10px);
            }
        }
        .a_backbtn01_txt {
            font-size: 16px;
            font-weight: 500;
        }
    }
}
.a_signupbtn {
    text-decoration: none;
    color: #ED711A;
}